@font-face {
  font-family: "I_sans_num";
  src: url("../../fonts/IRANSansNum.ttf") format("truetype");
}
@font-face {
  font-family: "I_sans_medium";
  src: url("../../fonts/IranSans/medium/IRANSans.ttf") format("truetype"), url("../../fonts/IranSans/medium/IRANSans.woff") format("woff"), url("../../fonts/IranSans/medium/IRANSans.woff2") format("woff2");
}
@font-face {
  font-family: "I_sans_regular";
  src: url("../../fonts/IranSans/regular/IRANSans.ttf") format("truetype"), url("../../fonts/IranSans/regular/IRANSans.eot") format("eot"), url("../../fonts/IranSans/regular/IRANSans.woff") format("woff"), url("../../fonts/IranSans/regular/IRANSans.woff2") format("woff2");
}
@font-face {
  font-family: "I_sans_bold";
  src: url("../../fonts/IranSans/bold/IRANSans.ttf") format("truetype"), url("../../fonts/IranSans/bold/IRANSans.eot") format("eot"), url("../../fonts/IranSans/bold/IRANSans.woff") format("woff"), url("../../fonts/IranSans/bold/IRANSans.woff2") format("woff2");
}
@font-face {
  font-family: "I_sans_light";
  src: url("../../fonts/IranSans/light/IRANSans.ttf") format("truetype"), url("../../fonts/IranSans/light/IRANSans.eot") format("eot"), url("../../fonts/IranSans/light/IRANSans.woff") format("woff"), url("../../fonts/IranSans/light/IRANSans.woff2") format("woff2");
}
::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #F7941D;
}

::selection {
  color: #ffffff;
  background: #F7941D;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F7941D;
  border-radius: 10px;
}

p {
  margin-bottom: 5px !important;
  font-family: "I_sans_medium", sans-serif;
  color: #333333;
  font-size: 10px;
}
@media (max-width: 552px) {
  p {
    font-size: 8px;
  }
}

span, a, label {
  font-family: "I_sans_regular", sans-serif;
  text-align: right;
  color: #555555;
  font-size: 8px;
}
@media (max-width: 552px) {
  span, a, label {
    font-size: 6px;
  }
}

table {
  font-family: "I_sans_regular", sans-serif;
  font-size: 10px;
  margin-bottom: 6px !important;
}
@media (max-width: 552px) {
  table {
    font-size: 6px;
  }
}
table thead tr th {
  background: #cccccc !important;
  padding: 2px !important;
}
table tbody tr th, table tfoot tr th {
  padding: 2px !important;
}
table tbody tr td, table tfoot tr td {
  padding: 2px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "I_sans_medium", sans-serif;
}

a {
  text-decoration: none !important;
}

label {
  text-align: right;
}

button {
  font-family: "I_sans_regular", sans-serif !important;
}

input {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
  text-align: right;
  font-family: "I_sans_regular", sans-serif !important;
}
input::placeholder {
  font-family: "I_sans_regular", sans-serif;
}

.title-big-row {
  display: flex;
}
.title-big-row p {
  white-space: nowrap;
  margin-bottom: 0 !important;
  font-size: 12px;
}
.title-big-row span {
  margin-inline: 5px;
  font-size: 10px;
}

.title-row {
  display: flex;
}
.title-row p {
  white-space: nowrap;
  margin-bottom: 0 !important;
  font-size: 10px;
}
.title-row span, .title-row a {
  margin-inline: 5px;
  font-size: 8px;
}

.detail-row {
  display: flex;
}
.detail-row p {
  white-space: nowrap;
  margin-bottom: 0 !important;
  font-size: 8px;
}
.detail-row span, .detail-row a {
  margin-inline: 5px;
  font-size: 6px;
}

.detail-row-1 {
  display: flex;
}
.detail-row-1 p {
  white-space: nowrap;
  margin-bottom: 0 !important;
  font-size: 18px;
}
@media (max-width: 552px) {
  .detail-row-1 p {
    font-size: 10px;
  }
}
.detail-row-1 span {
  margin-inline: 5px;
  font-size: 22px;
}
@media (max-width: 552px) {
  .detail-row-1 span {
    font-size: 10px;
  }
}

.bordered {
  border: 2px solid #666666;
  padding: 6px;
}

.template {
  padding: 20px 0;
}
.template .header {
  margin-bottom: 6px;
}
.template .header .img {
  width: 65px;
}
@media (max-width: 768px) {
  .template .header .img {
    width: 60px;
  }
}
.template .header .img img {
  width: 100%;
}
.template .header .col-4:nth-child(1) {
  display: flex;
  align-items: center;
}
.template .header .col-4:nth-child(2) {
  text-align: center;
}
.template .header .col-4:nth-child(2) .title-big-row {
  margin-bottom: 5px;
}
.template .header .col-4:nth-child(2) .title-row {
  margin-bottom: 5px;
}
.template .header .col-4:nth-child(3) {
  text-align: left;
}
.template .header .title-big-row, .template .header .title-row {
  justify-content: center;
}
.template .header .barcode .temp {
  margin-bottom: 6px;
}
.template .body .attention {
  margin-bottom: 6px;
}
.template .body .attention h5 {
  margin-bottom: 0;
}
.template .body .tracking-no {
  margin-bottom: 6px;
}
.template .body .barcode {
  margin-top: 6px;
}
.template .body .barcode .temp {
  margin-bottom: 6px;
}
.template .body .barcode .col-6 {
  text-align: center;
}
.template .body .table-view {
  margin-top: 6px;
}
.template .body .table-view .title {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.template .body .table-view .title .detail-row {
  margin-inline: 10px;
}
.template .body .table-view .rowspan {
  text-align: center;
}
.template .body .signature {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 70%;
  position: relative;
  margin-bottom: 6px;
}
@media (max-width: 552px) {
  .template .body .signature h5 {
    font-size: 16px;
  }
}
.template .body .signature:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  width: 1px;
  height: 100%;
  margin: auto;
  background: #666666;
}
.template .body .cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.template .body .cost span {
  color: #FF3636;
}
.template .body .cause {
  width: 100%;
}
.template .body .cause p {
  margin-bottom: 6px !important;
}
.template .body .cause .items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.template .body .cause .items .item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  width: 100%;
}
.template .body .cause .items .item .box {
  width: 10px;
  height: 10px;
  border: 1px solid #666666;
}
.template .body .cause .items .item span {
  margin-inline: 10px;
}
.template .body .post-melli .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.template .body .post-melli .info .img {
  width: 60px;
}
.template .body .post-melli .info .img img {
  width: 100%;
}
.template .body .post-melli .table {
  margin-bottom: 0 !important;
}

/*# sourceMappingURL=main.css.map */
