<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پست</title>
    <style type="text/css">
        * {
            font-family: "Tahoma";
        }

        body {
            direction:rtl;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td {
            padding: 5px;
            border: 1px solid black;
        }

        .break {
            page-break-after: always;
        }
    </style>
</head>
<body>