::-moz-selection { /* Code for Firefox */
  color: $white;
  background: $themeYellow;
}

::selection {
  color: $white;
  background: $themeYellow;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  @media (max-width: 768px) {
    display: none;
  }
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $themeYellow;
  border-radius: 10px;
}

p {
  margin-bottom: 5px !important;
  font-family: $font-1-m;
  color: $txt;
  font-size: 10px;
  @media (max-width: 552px) {
    font-size: 8px;
  }
}

span, a, label {
  font-family: $font-1-r;
  text-align: right;
  color: $txt-1;
  font-size: 8px;

  @media (max-width: 552px) {
    font-size: 6px;
  }
}

table {
  font-family: $font-1-r;
  font-size: 10px;
  margin-bottom: 6px !important;
  @media (max-width: 552px) {
    font-size: 6px;
  }

  thead {
    tr {
      th {
        background: $gray-4 !important;
        padding: 2px !important;
        //text-align: center !important;
      }
    }
  }

  tbody, tfoot{
    tr{
      th{
        padding: 2px !important;

      }
      td{
        padding: 2px !important;

      }
    }
  }

}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-1-m;

}

a {
  text-decoration: none !important;
}

label {
  text-align: right;
}

button {
  font-family: $font-1-r !important;
}

input {
  width: 100%;
  border: 1px solid $gray-4;
  border-radius: 10px;
  padding: 10px;
  text-align: right;
  font-family: $font-1-r !important;

  &::placeholder {
    font-family: $font-1-r;
  }
}


.title-big-row {
  display: flex;

  //align-items: center;

  p {
    white-space: nowrap;
    margin-bottom: 0 !important;
    font-size: 12px;
  }

  span {
    margin-inline: 5px;
    font-size: 10px;
  }
}

.title-row {
  display: flex;
  //align-items: center;

  p {
    white-space: nowrap;
    margin-bottom: 0 !important;
    font-size: 10px;
  }

  span, a {
    margin-inline: 5px;
    font-size: 8px;
  }
}

.detail-row {
  display: flex;
  //align-items: center;

  p {
    white-space: nowrap;
    margin-bottom: 0 !important;
    font-size: 8px;
  }

  span, a {
    margin-inline: 5px;
    font-size: 6px;
  }
}

.detail-row-1 {
  display: flex;
  //align-items: center;

  p {
    white-space: nowrap;
    margin-bottom: 0 !important;
    font-size: 18px;
    @media (max-width: 552px) {
      font-size: 10px;
    }
  }

  span {
    margin-inline: 5px;
    font-size: 22px;
    @media (max-width: 552px) {
      font-size: 10px;
    }
  }
}


.bordered {
  border: 2px solid $border;
  padding: 6px;
}
