.template {
  padding: 20px 0;

  .header {
    margin-bottom: 6px;
    .col-4 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      &:nth-child(2){
        align-items: center;
      }
      &:nth-child(3){
        display: flex;
        align-items: flex-end;
      }

      .img{
        width: 80px;
        img{
          width: 100%;
        }

        @media (max-width: 552px){
          width: 60px;
        }
      }
    }
  }

  .body{
    .attention{
      margin-bottom: 6px;
    }

    .barcode{
      margin-top: 6px;
      .temp{
        margin-bottom: 6px;
      }
    }


    .table-view{
      margin-top: 6px;
      .title{
        display: flex;
        //align-items: center;
        margin-bottom: 6px;

        .detail-row{
          margin-inline: 10px;
        }
      }
    }
  }
}
